@media (max-width:480px) {
    .img {
        width: 480px;


    }

    .cover {
        width: 480px;
    }

    .title {
        font-size: 30px;
        margin-left: 5px;
    }

    .txt {
        font-size: 16px;
        margin-left: 35px;
    }

    .check {
        width: 400px;
    }

    .wywtg {
        font-size: 10px;
    }

    .bluebox {
        width: 90px;
        height: 30px;
        font-size: 10px;
        margin-right: 20px;
        padding-bottom: 30px;



    }

    .input1 {
        font-size: 10px;
        width: 60px;
        height: 20px;
        margin-left: -30px;
    }

    .checkin {
        font-size: 10px;
        margin-left: -50px;
    }

    .informatio {
        width: 350px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 60px;


    }

    .destination {
        width: 480px;
    }

    .title2 {
        font-size: 20px;
        margin-right: 500px;
    }

    .places {
        width: 480px;
        display: flex;
        flex-wrap: wrap;

    }

    .places2 {
        width: 480px;
        display: flex;
        flex-wrap: wrap;


    }

    .singapore {
        width: 350px;


    }

    .name {
        font-size: 20px;



    }

    .text {
        font-size: 15px;

    }



    .price1 {
        font-size: 31px;
        margin-left: 40px;
    }

    .kms {
        margin-left: 100px;
    }



    .blogs {
        width: 380px;

    }

    .blogtitle {
        font-size: 20px;
        margin-left: 200px;
    }



    .listdiv {
        width: 480px;
        margin-left: -10px;

    }

    .list2 {
        font-size: 12px;
        margin-left: 15px;

    }

    .line {
        width: 250px;
        margin-left: -10px;


    }

    .title2 {
        width: 450px;
        font-size: 18px;
        margin-left: 20px;
    }

    /* .blogs {
        width: 480px;
        display: flex;
        flex-wrap: wrap;
    } */
    .Customers {
        width: 480px;
        display: flex;
        flex-wrap: wrap;
    }

    .person1 {
        width: 350px;
    }

    .text1 {
        font-size: 13px;
    }

    .photo0 {
        margin-left: 10px;
    }

    .namecust {
        font-size: 13px;
        margin-left: 100px;

    }

    .profcust {
        font-size: 13px;
        margin-left: 100px;

    }

    .titlecistomers {

        font-size: 17px;
        margin-left: -700px;
    }

    .customers2 {
        display: flex;
        flex-wrap: wrap;
    }

    .photos {
        flex-wrap: wrap;
        width: 480px;
        margin: 0%;
        margin-left: -45px;

    }

    .cover2 {
        display: none;


    }

    .cover3 {
        display: none;
    }

    .cover4 {
        display: none;
    }

    .txt2 {
        font-size: 15px;
        width: 300px;
    }

    .txt3 {
        font-size: 20px;
    }

    .txt4 {
        font-size: 20px;
    }

    .img2 {
        width: 100%;
        height: 100%;
        margin-left: 40px;
        width: 480px;
    }

    .img3 {
        width: 480px;
        margin-left: 85px;


    }

    .img4 {
        max-width: 480px;
        width: 100%;
        margin-left: 85px;
    }

    .divpt1 {
        width: 480px;
        height: 587px;
    }

    .gray {
        width: 480px;

    }

    .singapore1 {
        /* margin-left: 30px; */
        width: 300px;
        margin-left: -90px;
    }

    .thailand {
        margin-left: -70px;
        margin-bottom: 70px;
    }

    .paris {
        margin-right: 90px;

    }

    .newzealand {
        margin-left: -90px;
        margin-top: -20px;
        width: 300px;
    }

    .borabora {
        margin-right: 70px;
        margin-bottom: 70px;
    }


    .london {
        margin-right: 80px;
        margin-bottom: 20px;
    }

    .box {
        width: 300px;
        margin-right: 35px;
    }

    .forlist0 {
        width: 250px;

    }

    .lt1 {
        font-size: 10px;
    }

    .left {
        font-size: 10px;
    }











}